	<!-- ERSDEMO-3065 -->
	<log4net>
		<root>
			<!-- ALL captures DEBUG, INFO, WARN, ERROR, FATAL; no need to for DEBUG...change to INFO, WARN, ERROR, FATAL -->
			<priority value="INFO"/>
			<!-- Not needed in Prod: 
          TraceAppender logs to output window;
          ConsoleAppener logs to Commmand window;
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="ConsoleAppender"/>
      -->
			<appender-ref ref="RollingFileAppender"/>
			<appender-ref ref="SmtpAppender"/>
		</root>
		<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>
		<!-- 
    1. 1 log file per day; 
    2. log file max size is 100MB
    3. Append date to file name; 
    -->
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="App_Data\\logs\\log-file_"/>
			<!-- log-file_yyyy.mm.dd.txt -->
			<appendToFile value="true"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<rollingStyle value="Date"/>
			<!-- Changed -->
			<maxSizeRollBackups value="1"/>
			<!-- Changed -->
			<maximumFileSize value="100MB"/>
			<!-- Changed -->
			<staticLogFileName value="false"/>
			<!-- Changed -->
			<datePattern value="yyyy.MM.dd^.txt^"/>
			<!-- NEW -->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ABSOLUTE} [%thread] %-5level %logger [%property{NDC}] - %message%newline%exception"/>
			</layout>
		</appender>
        	<!-- ERSDEMO-3065 -->
	<log4net>
		<root>
			<!-- ALL captures DEBUG, INFO, WARN, ERROR, FATAL; no need to for DEBUG...change to INFO, WARN, ERROR, FATAL -->
			<priority value="INFO"/>
			<!-- Not needed in Prod: 
          TraceAppender logs to output window;
          ConsoleAppener logs to Commmand window;
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="ConsoleAppender"/>
      -->
			<appender-ref ref="RollingFileAppender"/>
			<appender-ref ref="SmtpAppender"/>
		</root>
		<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>
		<!-- 
    1. 1 log file per day; 
    2. log file max size is 100MB
    3. Append date to file name; 
    -->
		<appender name="Rolli"

			